
# tmp файлы, которые генерит msvc
**/*.vs

# похоже каталоги с артефактами сборки
**/out

# Файл msvc когда он работает с cmake
CMakeSettings.json

# каталог сборки cmake
cmake-build-debug/

# tmp файлы idea
**/*.idea

# Создаёт qt creator
CMakeLists.txt.user




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
